@import "tailwindcss";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* text-indent: 3px; */
  /* text-overflow: ""; */
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
